<div class="container-fluid">
       
    <table class="table table-striped">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Customer Name</th>
                
                 <th>ItemName</th>
                <th>ItemQuantity</th>
               

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of orders">
                <td>{{o.id}}</td>

              
                <td>{{o.user.name}}</td>
              
            <td>
                    <div *ngFor = "let i of o.listItems" >{{i.item.itemName}}
                        </div> </td> 
            <td>    <div *ngFor = "let i of o.listItems" >{{i.quant}}</div></td>
                       
            
                
          


                  <div style="text-align: center;">
                  <td><button class="btn btn-danger" (click)="accept(o.id)"> Accept</button></td>
                  <td><button class="btn btn-danger" (click)="ready(o.id)"> Ready</button></td>
                  <td><button class="btn btn-danger" (click)="delivered(o.id)"> Delivered</button></td>
                </div>

            </tr>
        </tbody>

       </table>
      
    </div>