<div class="container-fluid">

    <table style="margin-top: 1.5cm;" class="table table-striped">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer</th>

                <th>Item</th>
                <th>Quantity</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of orders">
                <td>{{o.id}}</td>


                <td>{{o.user.name}}</td>

                <td>
                    <div *ngFor="let i of o.items">{{i.item.itemName}}
                    </div>
                </td>
                <td>
                    <div *ngFor="let i of o.items">{{i.quant}}</div>
                </td>






                <div style="text-align: center;">
                    <td><button class="btn btn-outline-primary btn-sm" (click)="accept(o.id)"> Accept</button></td>
                    <td><button class="btn btn-outline-warning btn-sm" (click)="ready(o.id)"> Ready</button></td>
                    <td><button class="btn btn-outline-success btn-sm" (click)="delivered(o.id)"> Delivered</button>
                    </td>
                </div>

            </tr>


        </tbody>

    </table>

</div>