<div class="container-fluid">

    <table style="margin-top: 1.5cm;" class="table table-striped">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer</th>

                <th>Item</th>
                <th>Quantity</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of orders">
                    <td *ngIf="o.status !='Delivered'">{{o.id}}</td>


                <td *ngIf="o.status !='Delivered'">{{o.user.name}}</td>

                <td *ngIf="o.status !='Delivered'">
                    <div *ngFor="let i of o.items">{{i.item.itemName}}
                    </div>
                </td>
                <td *ngIf="o.status !='Delivered'">
                    <div *ngFor="let i of o.items">{{i.quant}}</div>
                </td>

                <div style="text-align: center;">
                    <td *ngIf="o.status !='Delivered'"><button class="btn btn-outline-primary btn-sm" (click)="accept(o.id)"> Accept</button></td>
                    <td *ngIf="o.status !='Delivered'"><button class="btn btn-outline-warning btn-sm" (click)="ready(o.id)"> Ready</button></td>
                    <td *ngIf="o.status !='Delivered'"><button class="btn btn-outline-success btn-sm" (click)="delivered(o.id)"> Delivered</button>
                    </td>
                </div>

                
                
            </tr>


        </tbody>

    </table>

</div>