<div class="container-fluid"><br>
    <div style="margin-top: 1cm;"><strong>Available Cuisine:</strong> </div>
    <br>
    <form (submit)="submit()">
        <table>
            <tr>
                <td>
                    <input type="radio" name="radio" value="NI" [(ngModel)]="radio"> North Indian &nbsp;&nbsp;
                    <input type="radio" name="radio" value="SI" [(ngModel)]="radio"> South Indian &nbsp;&nbsp;
                    <input type="radio" name="radio" value="Chinese" [(ngModel)]="radio"> Chinese &nbsp;&nbsp;
                </td>
                &nbsp; <button type="submit" class="btn btn-outline-info  btn-sm">Filter</button>
            </tr>
        </table>
    </form>
    <br><br>
    <div class="row">
        <div class="col-md-6">

            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Itemid</th>
                        <th>ItemName</th>
                        <th>ItemDesc</th>
                        <th>ItemPrice</th>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let i of items">
                        <td>
                            {{i.id}}
                        </td>
                        <td>{{i.itemName}}</td>
                        <td>{{i.itemDesc}}</td>
                        <td>{{i.itemPrice}}</td>

                        <td><button type="submit" class="btn btn-outline-success  btn-sm"
                                (click)="createmenulist(i.id)">Add</button></td>

                    </tr>
                </tbody>
            </table>
            <div>
                <button type="submit" class="btn btn-primary" (click)="confirm()">Submit</button>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Itemid</th>
                        <th>ItemName</th>
                        <th>ItemDesc</th>
                        <th>ItemPrice</th>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let s of selItems">
                        <td>
                            {{s.id}}
                        </td>
                        <td>{{s.itemName}}</td>
                        <td>{{s.itemDesc}}</td>
                        <td>{{s.itemPrice}}</td>
                        <td><button type="submit" class="btn btn-outline-danger  btn-sm"
                                (click)="deletelist(s.id,s)">Delete</button></td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>