<div class="container-fluid"><br>
        <div style = "margin-top: 1cm;" ><strong>Available Cuisine:</strong> </div>
        <br>
        <!-- <div>&nbsp;
        &nbsp; <input type="checkbox" class="form-check-input" value="north" name="chk">NorthIndian &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="checkbox" class="form-check-input" value="south" name="chk">SouthIndian  &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="checkbox" class="form-check-input" value="chinese" name="chk">Chinese  &nbsp;

      
    </div><br>
    <button type="submit" class="btn btn-primary btn-small" (click)="filter()" >Filter</button> -->
    <form [formGroup]="form" (submit)="submit(form.value)">
        <table>
            <tr>
            <td *ngFor="let skill of skills.controls; let i=index">
             <input type="checkbox" [formControl]="skill" value="{{user.skills[i].name}}"/> {{user.skills[i].name}} &nbsp;&nbsp;
            </td>
            &nbsp; <button type="submit" class="btn btn-outline-info  btn-sm">Filter</button></tr>  
        </table>
           </form>
  <br><br>
<div class="row">
<div class="col-md-6">
        
       
        <table class="table table-striped">
            <thead>
                <tr>
                   
                    <th>Itemid</th>
                    <th>ItemName</th>
                    <th>ItemDesc</th>
                    <th>ItemPrice</th>
                    
                </tr>
            </thead>
<tbody>
     
        <tr *ngFor="let i of items"><td>
                {{i.id}}
        </td>
        <td>{{i.itemName}}</td>
        <td>{{i.itemDesc}}</td>
        <td>{{i.itemPrice}}</td>

        <td><button type="submit" class="btn btn-outline-success  btn-sm" (click)="createmenulist(i.id)" >Add</button></td>
      
    </tr>
</tbody>



</table>
<div>
        <button type="submit" class="btn btn-primary" (click)="confirm()" >Submit</button>
</div>
</div>
<div class= "col-md-6">
        <table class="table table-striped">
                <thead>
                    <tr>
                       
                        <th>Itemid</th>
                        <th>ItemName</th>
                        <th>ItemDesc</th>
                        <th>ItemPrice</th>
                        
                    </tr>
                </thead>
                <tbody>
                        
                        <tr *ngFor="let s of selItems"><td>
                                {{s.id}}
                        </td>
                        <td>{{s.itemName}}</td>
                        <td>{{s.itemDesc}}</td>
                        <td>{{s.itemPrice}}</td>
                        <td><button type="submit" class="btn btn-outline-danger  btn-sm" (click)="deletelist(s.id,s)" >Delete</button></td>
 
                    </tr>
                </tbody>
                
                
                
                </table>

</div>
</div>
</div>  